.gm-container {
  font-family: Arial, sans-serif;
  width:70vw;
  margin: 50px auto;
  padding: 1rem;
  background-color: #090909;
  border-radius: 10px;
}

.gm-toggle {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.gm-toggle button {
  padding: 0.5rem 1rem;
  border: 1px solid #888;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
}

.gm-toggle button.active {
  background: #44594A;
  color: white;
  border-color: #fcfcfc;
}

.gm-angle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
  color: #ffffff;
}

.gm-preview {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  border: none;
  margin-bottom: 1rem;
}

.gm-controls {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.gm-stop {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

span {
    color: #fafefb;
}

.gm-css {
  width:96%;
  font-family: monospace;
  margin-top: 1rem;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 4px;
  resize: none;
  color: #ddd;
  background-color: #44594A;
}

input[type='range']{
    accent-color: #44594A;
}

input[type='color']{
    background: #fff;
}
.gradient h1{
  text-align: center;
    color: white;
    font-size: 48px;
}
.gradient p{
  text-align: center;
    color: rgb(231, 229, 229);
   
}
.btnGray{
  background-color: #4B6050;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px;
}


@media (max-width: 490px) {
  .gm-container {
    width: 100%;
    margin: 15px;
  }
  .gm-preview {
    height: 220px;
  }
  .gm-controls {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  input[type='color'] {
    flex: 1 1 40%;
  }
  .btnGray {
    margin: 0;
    align-self: flex-start;
  }

  .gm-css {
  width:96%;
  font-family: monospace;
  margin-top: 0rem;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 4px;
  resize: none;
  color: #ddd;
  background-color: #44594A;
}
}
