/* src/components/AuthButton/AuthButton.css */
.auth-button-container {
  display: inline-block;
 
}
.headerContainer{
    width: 83vw;
}
.user-profile {
  position: relative;
}

.user-avatar-btn {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  transition: transform 0.2s;

    position: absolute;
    bottom: -13px;
}

.user-avatar:hover {
  transform: scale(1.1);
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 50px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 100;
  overflow: hidden;
}

.user-info {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.user-name {
  color:#fff;
  font-weight: bold;
  margin: 0 0 4px 0;
}

.user-email {
  font-size: 0.8rem;
  color: #666;
  margin: 0;
}
.nav-link{
  color: white;
    background: transparent;
    border: none;
    font-size: 15px;
}
.logout-btn {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  color: #ff4d4f;
}
.login-btn{
  display: inline-block;
  font-size: 15px;
  background-color: transparent;
  color: white;
  border: none;
}
/* 
.logout-btn:hover {
  background: #fff1f0;
}

.login-btn {
  background: #1890ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
} */

