.dropdown{
    position: relative;
    display: inline;
}
.dropdown-menu {
  position: absolute;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  width: 200px;
  right: 0px;
    top: 30px;
    border-radius: 10px;
}
.dropdown-item {
  padding: 1px 10px;
}
.dropdown-item h4 {
    color: white;
  margin: 0;
  font-size: 14px;
}
.dropdown-item h4:hover{
    background-color: black;
    text-decoration: 2px #435849 underline ;
}

.dropdown-item p {
  margin: 0;
  font-size: 12px;
  color: rgb(190, 184, 184);
}
h5 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px}

.dropdown-toggle{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 6px;
    font-size: 18px;
    transition: background 0.2s ease;
    position: relative;
}
.dropdown-menu>#HistoryBtn{
  font-weight: bold;
  color: white;
  background-color: black;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.dropdown-menu>#HistoryBtn:hover{
  text-decoration:underline 2px #435849;
}
.dropdown-itemP{
  margin: 0;
  font-size: 12px;
  color: rgb(184, 184, 184);
  margin-left: 10px;
}





@media (min-width: 300px) {
  .dropdown {
    display: inline-block;
    width: auto;
  }
  .dropdown-toggle {
    width: auto;
    padding: 8px 12px;
    font-size: 15px;
  }
  .dropdown-menu {
    position: absolute;
    width: 150px;
    right: -51px;
    top: 30px;
  }
}